{% extends 'user_templates/base.html' %}

{% block content %}
{% load static %}

<!-- Bootstrap core CSS -->
<link href="{% static 'user_static/assets/css/bootstrap.min.css' %}" rel="stylesheet"/>

<!-- Paper Dashboard core CSS -->
<link href="{% static 'user_static/assets/css/paper-dashboard.css' %}" rel="stylesheet"/>

<!-- CSS for Demo Purpose, don't include it in your project -->
<link href="{% static 'user_static/assets/css/demo.css' %}" rel="stylesheet" />

<!-- Fonts and icons -->
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
<link href="{% static 'user_static/assets/css/themify-icons.css' %}" rel="stylesheet">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-11 mx-auto mt-5">
            <div class="nav column gap-4 p-3 small bg-danger rounded-5 shadow-sm custom-nav" role="tablist">
                <li class="nav-item">
                    <a class="nav-link rounded-5" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded-5" href="{% url 'address-detail' %}">Address</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded-5" href="{% url 'order' %}">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded-5" href="{% url 'wallet' %}">Wallet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active rounded-5" href="{% url 'coupon-detail' %}">Coupon</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded-5" href="{% url 'referral-detail' %}">Referral</a>
                </li>
            </div>
        </div>
    </div>
    
    
        <div class="col-md-10" style="margin-top: 50px;">
            <div class="content mt-5">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            {% for i in user %}
                            <div class="card card-user">
                                <div class="image">
                                    <img src="{% static 'user_static/assets/img/background.jpg' %}" alt="..."/>
                                </div>
                                <div class="content">
                                    <div class="author">
                                        <img class="avatar border-white" src="{% static 'user_static/img/user-profile.jpg' %}" alt="..."/>
                                        <h4 class="title">{{ i.first_name }} {{ i.last_name }}<br />
                                            <a href="#"><small>@{{ i.username }}</small></a>
                                        </h4>
                                    </div>
                                    <p class="description text-center">
                                        {{ i.email }} <br>
                                        {{ i.phone_number }} <br>
                                    </p>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h5>{{ order_dtails }}<br /><small>Orders</small></h5>
                                        </div>
                                        <div class="col-md-4">
                                            <h5>2GB<br /><small>Used</small></h5>
                                        </div>
                                        <div class="col-md-5">
                                            <h5>24,6$<br /><small>Spent</small></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="col-lg-8 col-md-7">
                            <div class="card">
                                <div class="header d-flex justify-content-between align-items-center">
                                    <h4 class="title">Coupon</h4>
                                    <div class="container d-flex justify-content-end align-items-center"></div>
                                </div>
                                <div id="address-list">
                                    <ul class="d-flex flex-column justify-content-center">
                                        {% for i in coupon %}
                                        <!-- Single Address Start -->
                                        <li class="d-flex flex-row p-2" style="border-bottom: 1px solid #777777;">
                                            <label for="address-{{ i.id }}" class="d-flex">
                                                <div class="flex-column">
                                                    <div class="d-flex flex-row px-3 align-content-center">
                                                        <div class="col pl-2">
                                                            <h5>{{ i.coupon }}</h5>
                                                            <div class="col">
                                                                <span>{{ i.coupon.discount }} off on order above {{ i.coupon.minimum_amount }} </span><br>
                                                                <span>{{ i.usage_count }} used </span>
                                                                <span>out of {{ i.coupon.max_uses }} </span>
                                                            </div>
                                                            <span>{{ i.phone }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </label>
                                        </li>
                                        <!-- Single Address End  --> 
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 
{% endblock content %}



