{% extends 'admin_templates/admin-base.html' %}
{% load static  %}
{% block content %}

<div class="container mt-3">
    <div class="row">
         <form method="POST" enctype="multipart/form-data" id="form1"  onsubmit="return validateForm()"> 
            {% csrf_token %}
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-4">
                            <label class="form-label">Product</label>
                            <select class="form-select"  name="product" >
                                <option selected value="{{old_product.product.id}}">{{old_product.product.product_name}}</option>
                                {% for product in products %} 
                                <option value="{{product.id}}">{{product.product_name}}</option>
                                {% endfor %}    
                            </select>
                        </div>
                        <div class="mb-4">
                            <label class="form-label">SKU ID</label>
                            <input type="text" placeholder="Type here" class="form-control" name="sku_id" value="{{old_product.sku_id}}" >
                        </div>
                        <div class="row gx-3">
                            {% for attribute_name, attribute_values in attribute_dict.items %}                                        <option>{{atribute. }}</option>
                            <div class="col-md-4  mb-3">
                                <label class="form-label">{{attribute_name}}</label>
                                <select class="form-select" name="attributes">
                                    {% for value in attribute_values %}
                                   
                                    <option value="{{ value.id }}">{{ value.atribute_value }}</option>    
                                  
                                    {% endfor %}
                                </select>
                            </div>  
                             
                            {% endfor %}
                        </div>
                        <div class="row gx-3">
                           
                            <div class="col-md-4  mb-3">
                                <label for="product_size" class="form-label" >Max Price</label>
                                <input type="text" placeholder="Type here" class="form-control" id="product_size" name="max_price" value="{{old_product.max_price}}" >
                            </div>
                            <div class="col-md-4  mb-3">
                                <label for="product_size" class="form-label">Sale price</label>
                                <input type="text" placeholder="Type here" class="form-control" id="product_size" name="sale_price" value="{{old_product.sale_price}}" >
                            </div>
                            <div class="col-md-4  mb-3">
                                <label for="product_size" class="form-label">Stock</label>
                                <input type="number" placeholder="Type here" class="form-control" id="product_size" name="stock" value="{{old_product.stock}}" >
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <div>
                                <label class="form-label">Thumbnail-Image</label>
                                {% if old_product.thumbnail_image %}
                                    <img src="{{ old_product.thumbnail_image.url }}" alt="Thumbnail Image">
                                    <input type="file" name="existing_product_images" value="{{ old_product.thumbnail_image.url }}" accept="image/*" onchange="validateImage(this)">
                                    <a>{{ old_product.thumbnail_image.url }}</a>
                                    {% else %}
                                    <p>No thumbnail image available</p>
                                    <input type="file" name="existing_product_images" accept="image/*"  onchange="validateImage(this)" required>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                <label class="form-label">Product-Images</label>
                                {% if old_product.additional_product_images.all %}
                                    {% for image in old_product.additional_product_images.all %}
                                        <img src="{{ image.image.url }}" alt="Product Image" >
                                        <a>{{ image.image.url }}</a>
                                    {% endfor %}
                                {% else %}
                                    <p>No product images available</p>
                                {% endif %}
                                <input class="form-control" type="file" name="product_image" multiple accept="image/*" onchange="validateImage(this)" required >
                            </div>
                        </div>
                        <div>
                            <button class="btn  btn-md rounded font-sm hover-up" style="margin-left: 20px;" >ADD </button>
                        </div>
                    </div> <!-- card end// -->
                </div> <!-- card end// -->
            </div>
        </form>   
       
        
    </div>
</div>

<script>
     function validateForm(formId) {
        const form = document.getElementById(formId);
        const product = form.querySelector('select[name="product"]');
        const skuId = form.querySelector('input[name="sku_id"]');
        const maxPrice = form.querySelector('input[name="max_price"]');
        const salePrice = form.querySelector('input[name="sale_price"]');
        const stock = form.querySelector('input[name="stock"]');
        
        // Perform validation checks
        if (product.value === "") {
        
            showToast('Please select a product', "error");
            return false;
        }
        if (skuId.value.trim() === "") {
          
            showToast('Please enter SKU ID', "error");
            return false;
        }
        if (maxPrice.value.trim() === "" || isNaN(maxPrice.value.trim()) || parseFloat(maxPrice.value.trim()) <= 0 || !/^\d{1,6}(\.\d{0,2})?$/.test(maxPrice.value.trim())) {
   
            showToast('Please enter a valid max price', "error");
            
            return false;
        }
       if (salePrice.value.trim() === "" || isNaN(salePrice.value.trim()) || parseFloat(salePrice.value.trim()) <= 0 || salePrice.value.trim().length > 8 || !/^\d{1,6}(\.\d{0,2})?$/.test(salePrice.value.trim())) {
          
           showToast('Please enter a valid sale price ', "error");
           return false;
       }
        if (stock.value.trim() === "" || isNaN(stock.value.trim()) || parseFloat(stock.value.trim()) <= 0) {
           
            showToast('Please enter a valid stock greater than zero', "error");

            return false;
        }

        // If all validations pass
        return true;
    }
    
    document.addEventListener('DOMContentLoaded', function() {
        // Add event listeners for form submissions
        document.getElementById('form1').addEventListener('submit', function(event) {
            event.preventDefault();
            if (validateForm('form1')) {
                this.submit();
            }
        

        });
    });

    function validateImage(fileInput) {
    const file = fileInput.files[0];
    const allowedTypes = ['image/jpeg', 'image/png', 'image/gif'];

    if (file) {
        if (!allowedTypes.includes(file.type)) {
            showToast('Please select a valid image file (JPEG, PNG, or GIF)', "error");
            fileInput.value = ''; // Clear the file input
            return false;
        }
    }

    return true;
}

</script>


{% endblock content %} 