{% extends 'admin_templates/admin-base.html' %}

{% load static %}

{% block content %}
<section>
    <div class="container mt-3">
        <div class="row ">
            <form method="POST" action="{% url 'create-variant' %}">
            {% csrf_token %}
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-4">
                            <label for="product_title" class="form-label">New varient</label>
                            <input type="text" placeholder="Type here" name="varient" class="form-control" id="product_title" required>
                        </div>
                        <div>
                            <button class="btn  btn-md rounded font-sm hover-up" style="margin-left: 20px;">ADD VARIENT </button>
                        </div>
                    </div>
                </div>
            </div>
        
        </form>
        
      
        
        <form method="POST" action="{% url 'create-variant-value' %}">
            {% csrf_token %}
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-4">
                            <label class="form-label">varient select</label>
                            <select class="form-select" name="varient_id" required>
                                {% for i in varients %}
                                <option value="{{i.id}}">{{i.atribute_name}}</option>
                                {% endfor %}
        
                            </select>
                        </div>
                        <div class="mb-4">
                            <label class="form-label">value</label>
                            <input type="text" placeholder="Type here" class="form-control" name="varient_value" required>
                        </div>
                        <button class="btn btn-md rounded font-sm hover-up">ADD VALUE </button>
                    </div>
        
        
                </div>  
            </div>
        </form>
     
        
        </div>
        
        
    </div>
</section>


{% endblock content %}