{% extends 'admin_templates/admin-base.html' %}
{% load static  %}
{% block content %}
<section class="content-main">

    <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Category </h2>
                    <p>Category  management</p>
                </div>
                <div>
                    <a href="{% url 'admin-category-create' %}" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Add New Category</a>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 mb-lg-0 mb-15 me-auto">
                            <form action="{% url 'admin-category' %}" class="d-flex " method="post">
                                     {% csrf_token %}
                                <input type="text" id="searchInput" placeholder="Search..." class="form-control" name="search">
                                <button type="submit" class="btn-borderless" > <i class="fa-solid fa-rotate"></i>   </button>
                            </form>
                        </div>
                        
                        <!-- <div class="col-lg-2 col-6">
                            <input type="date" class="form-control" name="">
                        </div> -->
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="row gx-3">
                       
                        {% for i,j in all_categories.items %}
                        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                            <figure class="card border-1">
                                <div class="card-header bg-white text-center">
                                    <img height="76" src="{{ i.cat_image.url }}" class="img-fluid" alt="Logo">
                                </div>
                                <figcaption class="card-body text-center">
                                    <h6 class="card-title m-0">{{i}}</h6>
                                    <a href="#">{{ j|length }}</a>
                                </figcaption>
                               <div style="align-content: center;"> <a href="{% url 'admin-category-edit' cat_id=i.id %}"><i  class="fa-solid fa-pen-to-square"></i></a>  </div>
                            </figure>

                        </div> <!-- col.// -->
                        {% endfor %}   
                       
                    </div> <!-- row.// -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->

    <script>
        // document.addEventListener('DOMContentLoaded', function () {
        //     document.getElementById('category_select').addEventListener('change', function (e) {
        //         console.log(e.target.value);
    
        //         const selectedOption = e.target.value;
        //         const formData = new FormData();
        //         formData.append('selectedOption', selectedOption);
        //         formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
    
        //         fetch('/admin/product/', {
        //             method: 'POST',
        //             body: formData
        //         })
        //         .then(response => {
        //             if (!response.ok) {
        //                 throw new Error('Network response was not ok');
        //             }
        //             // $('#product_container').html(response); 
        //             return response.json(); 
        //         })
        //         .then(data => {
        //             console.log('Option sent successfully');
                  
        //               console.log(data,'ssssssssssssss');
        //         })
        //         .catch(error => {
        //             console.error('Error sending option: ', error);
        //         });
        //     });
        // });
    </script>

    
      
{% endblock content %}