{% load static %}
<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ashion Template" />
    <meta name="keywords" content="Ashion, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    <title>Ashion | Template</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha384-xrRm4DfY5Jn498UCrZsA4igb6jc0PpIXt4QFqzXxPqdP5q8Z4JwUc0qkZlM1VJFA" crossorigin="anonymous">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,800">
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"

    />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-light.css" >
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-solid.css
    " >
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css
    " >
    <!-- Css Styles -->
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   

    <link
      rel="stylesheet"
      href="{% static 'user_static/css/bootstrap.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'user_static/css/banner.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'user_static/css/font-awesome.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'user_static/css/elegant-icons.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'user_static/css/jquery-ui.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'user_static/css/magnific-popup.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'user_static/css/owl.carousel.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'user_static/css/slicknav.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'user_static/css/style.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'user_static/css/login.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'user_static/css/product_detail.css' %}"
      type="text/css"
    />


    
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r83/three.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js'></script><script  src="./script.js"></script>
  

  </head>

  <body>

   
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
      <div class="offcanvas__close">+</div>
      <ul class="offcanvas__widget">
        <li><span class="icon_search search-switch"></span></li>
        <li>
          <a href="{% url 'wishlist' %}"
            ><span class="icon_heart_alt"></span>
            <div class="tip">{{wishlist_count}}</div>
          </a>
        </li>
        <li>
          <a href="#"
            ><span class="icon_bag_alt"></span>
            <div class="tip">{{cart_count}}</div>
          </a>
        </li>
      </ul>
      <div class="offcanvas__logo">
        <a href="{% url 'home' %}"
          ><img src="{% static 'user_static/img/logo.png' %}" alt=""
        /></a>
      </div>
      {% if user.id is None %}
      <div id="mobile-menu-wrap"></div>
      <div class="offcanvas__auth">
        <a href="{% url 'register' %}">Signin</a>
        <a href="{% url 'register' %}">Signup</a>
     
      </div>
      {% else %}
      <div id="mobile-menu-wrap"></div>
      <div class="offcanvas__auth">
        <h> <a href="{% url 'profile' %}">{{ user.first_name }}</a> </h>
        <a href="{% url 'logout' %}">logout</a>
        
        
        
      </div>
      {% endif %}
      
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-3 col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="header__logo">
              <a href="{% url 'home' %}"
                ><img src="{% static 'user_static/img/logo.png' %}" alt=""
              /></a>
            </div>
          </div>
          <div class="col-xl-6 col-lg-7">
            <nav class="header__menu">
              <ul>
                <li class="active"><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="{% url 'shop' %}">Shop</a></li>
                <li>
                  <a href="#">Pages</a>
                  <ul class="dropdown">
                    <li>
                      <a href="./product-details.html">Product Details</a>
                    </li>
                    <li><a href="{% url 'cart' %}">Shop Cart</a></li>
                    <li><a href="./checkout.html">Checkout</a></li>
                    <li><a href="./blog-details.html">Blog Details</a></li>
                  </ul>
                </li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./contact.html">Contact</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-3">
            <div class="header__right">
              {% if user.id is None %}
              <div class="header__right__auth">
                <a href="{% url 'register' %}">Signin</a>
                <a href="{% url 'register' %}">Signip</a>
              </div>
              {% else %}
              <div class="header__right__auth">
                <a href="{% url 'profile' %}">{{ user.first_name }}</a>
 
                <a href="{% url 'logout' %}">logout</a>
              </div>

              {% endif %}
              <ul class="header__right__widget">
                <li><span class="icon_search search-switch"></span></li>
                <li>
                  <a href="{% url 'wishlist' %}"
                    ><span class="icon_heart_alt"></span>
                    <div class="tip">{{wishlist_count}}</div>
                  </a>
                </li>
                <li>
                  <a href="{% url 'cart' %}"
                    ><span class="icon_bag_alt"></span>
                    <div class="tip">{{cart_count}}</div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div  class="canvas__open">
          <i class="fa fa-bars"></i>
        </div>
      </div>
    </header>
    <!-- Header Section End -->
    
    <main>{% block content %}
      
      
      {% endblock %}
      <script src="{% static 'user_static/js/jquery-3.3.1.min.js' %}"></script>
      <script src="{% static 'user_static/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'user_static/js/jquery.magnific-popup.min.js' %}"></script>
      <script src="{% static 'user_static/js/jquery-ui.min.js' %}"></script>
      <script src="{% static 'user_static/js/mixitup.min.js' %}"></script>
      <script src="{% static 'user_static/js/jquery.countdown.min.js' %}"></script>
      <script src="{% static 'user_static/js/jquery.slicknav.js' %}"></script>
      <script src="{% static 'user_static/js/owl.carousel.min.js' %}"></script>
      <script src="{% static 'user_static/js/jquery.nicescroll.min.js' %}"></script>
      <script src="{% static 'user_static/js/main.js' %}"></script>
      <script src="{% static 'user_static/js/login.js' %}"></script>
  
        {% include 'includes/alerts.html'%}

        <div class="position-fixed end-0 p-3" style="z-index: 11; top: 70px;">
          <div id="toastContainer"></div>
        </div>
     
        <script>
          // Function to show toast message
      function showToast(message, type) {
        // Create toast element
        const toastElement = document.createElement("div");
        toastElement.classList.add("toast");
        toastElement.setAttribute("role", "alert");
        toastElement.setAttribute("aria-live", "assertive");
        toastElement.setAttribute("aria-atomic", "true");
      
        // Set background color based on type
        let bgColor;
        if (type === "success") {
          bgColor = "#198754"; // Green color for success
        } else if (type === "error") {
          bgColor = "#dc3545"; // Red color for error
        } else {
          bgColor = "#0d6efd"; // Blue color for other types
        }
        toastElement.style.backgroundColor = bgColor;
      
        // Create toast body
        const toastBody = document.createElement("div");
        toastBody.classList.add("toast-body");
        toastBody.textContent = message;
        toastBody.style.color = "white";
        // Append body to toast element
        toastElement.appendChild(toastBody);
      
        // Append toast element to container
        document.getElementById("toastContainer").appendChild(toastElement);
      
        // Initialize Bootstrap toast
        const toast = new bootstrap.Toast(toastElement);
      
        // Show toast
        toast.show();
     }
     </script>

  </main>
  
  