{% extends 'user_templates/base.html' %}

{% load static %}

{% block content %}
<style>

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Resetting */
.progresses {
            position: relative;
            max-width: 70%;
            margin: auto;
        }

        .progresses ul {
            list-style: none;
            padding: 0;
        }

        .progresses ul li {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #3268ff;
            z-index: 200;
            position: relative;
        }

        .progresses ul li.blue {
            color: #111111;
            background-color: #3268ff;
        }

        .progresses ul li::after {
            position: absolute;
            top: 35px;
            left: -15px;
            font-size: 0.8rem;
            width: 90px;
        }

        #step-1::after {
            content: "OREDER SUMMARY";
        }

        #step-2::after {
            content: "DELIVERY ADDRESS ";
            left: -5px;
        }

        #step-3::after {
            content: "PAYMENT";
        }

        .progresses .progress {
            height: 0.8rem;
            width: 100%;
            top: 33px;
            position: absolute;
            background-color: #f0f0f0;
            border-radius: 10px;
        }

        .progresses .progress-bar {
            height: 100%;
            background-color: #3268ff; /* Change color as needed */
            border-radius: 10px;
        }

        /* CSS for Products List */
        #products-list {
            height: 250px;
            overflow-y: scroll;
        }

        #products-list::-webkit-scrollbar {
            width: 5px;
        }

        #products-list::-webkit-scrollbar-track {
            background-color: #7c7c7c;
            border-radius: 5px;
        }

        #products-list::-webkit-scrollbar-thumb {
            border: 2px solid #cfcfcf;
            background-color: #ffffff;
            border-radius: 5px;
        }

        #products-list .product .product-img {
            width: 100%;
            height: 80px;
            object-fit: contain;
            background-color: #e8e8e8;
        }

        #products-list .product .btn.btn-primary {
            font-size: 0.6rem;
            padding: .2rem;
            border-radius: 0;
            width: 20px;
        }

        #products-list .product .number {
            border-radius: 0;
            width: 20px;
            text-align: center;
        }

        #products-list .btn.btn-dark {
            border-radius: 0;
            border-top-left-radius: 15px;
            font-size: 0.7rem;
            width: 50px;
            border: none;
            background-color: #616161 !important;
        }

/*button */

</style>
<!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>Shopping cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Breadcrumb End -->
    <div class="container">

        <div class="progresses py-4">
            <ul class="d-flex align-items-center justify-content-between">
                <li id="step-1" class="blue"></li>
                <li id="step-2"></li>
                <li id="step-3"></li>
            </ul>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="50"
                aria-valuemax="100">
            </div>
        </div>
        
    </div>
      <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-12">
                    <h6 class="coupon__link"><span class="icon_tag_alt"></span> <a href="#">Have a coupon?</a> Click
                        here to enter your code.</h6>
                </div>
            <div class="row ">
                <div class="col-lg-8">
                    <div class="header">
                        <h4 class="title">Payment</h4>
                    </div>
           
                    <div class="content">
                        <ul class="payment-options">
                            <li class="payment-option">
                                <input type="radio" class="address-radio" onclick="showDiv('option1')" id="option1" name="payment-option" />
                                <label for="option1">UPI</label>
                                <div id="option1Div" class="payment-details">
                                    <input type="radio" class="address-radio" name="option1" />
                                    <label>RAZORPAY</label>
                                    <!-- <input type="radio" class="address-radio" name="option2" />
                                    <label>UPI Option 2</label> -->
                                </div>
                            </li>
                            <li class="payment-option">
                                <input type="radio" class="address-radio" onclick="showDiv('option2')" id="option2" name="payment-option" />
                                <label for="option2"><i class="fa-regular fa-wallet"> WALLET </i></label>
                                <div id="option2Div" class="payment-details">
                                    {{wallet}}
                                </div>
                            </li>
                            <li class="payment-option">
                                <input type="radio" class="address-radio" value="cod" onclick="showDiv('option3')" id="option3" name="payment-option" />
                                <label for="option3"><i class="fa-regular fa-money-bill"> CASH ON DELIVERY</i></label>
                                <div id="option3Div" class="payment-details">
                                  <H6>COD</H6>
                                </div>
                            </li>
                            <!-- Repeat for other payment options -->
                        </ul>
                        
                    </div>
              
                </div>
                
                
                     
                <div class="col-lg-4">
                    <div class="checkout__order">
                        <h5>Your order</h5>
                            <div class="checkout__order__product">
                                <ul>
                                    <li>
                                        <span class="top__text">Product</span>
                                        <span class="top__text__right">Total</span>
                                    </li>
                                    {% for i in cart_items %}
                                    <li>{{i.product.get_product_name}}<span>{{i.sub_total}}</span></li>
                                    <b style="font-size: small;">{{i.product.variant_name}}</b>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="checkout__order__total">
                                <ul>
                                    <li>Subtotal <span>₹{{total}}</span></li>
                                    <li>Discount <span>₹{{discount}}</span></li>
                                    <li>Total <span>₹{{grand_total}}</li>
                                </ul>
                            </div>
                    </div>
                    <div>
                        <button onclick="handlePlaceOrderClick()">Place Order</button>
                    </div>
                </div>
            </div>
                
        </div>
</section>



<script src="https://checkout.razorpay.com/v1/checkout.js"></script>



<style>
 
    #myform {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    /* padding: 5px; */
    /* border: solid 1px #e8e8e8;  */
    box-sizing: border-box;
    border-radius: 5px;
    /* margin: 2%; */
    color: #777777;
}
.qty {
    width: 20px;
    height: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
input.qtyplus { width:15px; height:15px;}
input.qtyminus { width:15px; height:15px;}

.btn-golden a {
        color: white;
        text-decoration: none; /* Optional: Remove underline */
        /* transition: color 0.3s ease; Add smooth transition effect */
    }

    .btn-golden:hover a {
        color: #b19361;
    }

</style>
<script>
    function showDiv(option) {
        // Hide all divs
        document.querySelectorAll('.payment-details').forEach(div => {
            div.style.display = 'none';
        });

        // Show the corresponding div
        const divId = option + 'Div';
        document.getElementById(divId).style.display = 'block';
    }
</script>
<script>
    // Function to handle the click event on the "Place Order" button
    function handlePlaceOrderClick() {
        // Fetch the selected payment option value
        const selectedOption = document.querySelector('input[name="payment-option"]:checked');

        if (!selectedOption) {
            console.error('No payment option selected');
            alert('No payment option selected')
            return;
        }

        const selectedOptionId = selectedOption.id;

        // Make a POST request to your Django view
        fetch('{% url "order-payment" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken') // Include CSRF token
            },
            body: JSON.stringify({ payment_option: selectedOptionId }) // Send selected option ID as JSON data
        })
        .then(response => response.json())
        .then ( data =>{
            console.log('POST request successful',data);
            if (data.url){
                console.log('iofjfji',data.url)
                window.location.href = data.url;

            }

            const paymentOrderId = data.context.id;
                const paymentAmount = data.context.amount;
                console.log('Payment information:', paymentOrderId);
                // e.preventDefault();
                var razorpayKeyId = '{{ RAZOR_PAY_KEY_ID }}';
                console.log(razorpayKeyId);
                console.log(paymentAmount);
                console.log(paymentOrderId);
                var callbackURL = `https://mirsa.online/paymenthander/`;
                var options = {
                    
                    "key": "rzp_test_vAeyohaspEahRA", // Enter the Key ID generated from the Dashboard
                    "amount": paymentAmount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                    "name": "Pixeldot",
                    "description": "Test Transaction",
                    "image": "https://example.com/your_logo",
                    "order_id": paymentOrderId, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1

                    "callback_url": callbackURL,


                    "prefill": {
                        "name": "{{request.user.get_usernme}}",
                        "email": "{{request.user.email}}",
                        "contact": "{{request.user.phone_number}}"
                    },
                    "theme": {
                        "color": "#b19361"
                    }
                };
                // var options = {
                //     'X-CSRFToken': getCookie('csrftoken'),
                //     "key": "rzp_test_vAeyohaspEahRA", // Enter the Key ID generated from the Dashboard
                //     "amount": paymentAmount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                //     "currency": "INR",
                //     "name": "Acme Corp",
                //     "description": "Test Transaction",
                //     "image": "https://example.com/your_logo",
                //     "order_id": paymentOrderId, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                //     "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
                //     "prefill": {
                //         "name": "Gaurav Kumar",
                //         "email": "gaurav.kumar@example.com",
                //         "contact": "9000090000"
                //     },
                //     "notes": {
                //         "address": "Razorpay Corporate Office"
                //     },
                //     "theme": {
                //         "color": "#3399cc"
                //     }
                // };
                var rzp1 = new Razorpay(options);
                rzp1.on('payment.failed', function(response) {
                    alert(response.error.code);
                });

                rzp1.open();
                e.preventDefault();

        })
        .catch(error => {
            // Handle error here if needed
            console.error('Error:', error);
        });
    }

    // Function to get CSRF token from cookies
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Extract CSRF token
                if (cookie.startsWith(name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>


<style>
    .payment-options {
    list-style: none;
    padding: 0;
}

.payment-option {
    
    flex-direction: row;
    align-items: center;
    border-bottom: 5px solid #777777;
    padding: 15px;
    cursor: pointer;
}

.payment-option input[type="radio"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.payment-option label {
    margin: 0;
    cursor: pointer;
}

.payment-details {
    display: none;
    padding-left: 30px; /* Indentation for nested options */
}

/* Show nested options when radio button is checked */
.payment-option input[type="radio"]:checked + .payment-details {
    display: block;
}

</style>
  
{% endblock content %}
