{% extends 'user_templates/base.html' %}

{% load static %}

{% block content %}
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>Shopping cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Cart Section Begin -->
    <section class="shop-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop__cart__table" id="cart-table">
                       
                    </div>                      
                </div>
            </div>
            <div class="empty-cart-section section-fluid">
                <div class="emptycart-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-10 offset-md-1 col-xl-6 offset-xl-3">
                                <div class="emptycart-content text-center mb-5">
                                    <div class="empty-wishlist">
                                        <p>Cart is empty</p>
                                    </div>
                                    <a href="{% url 'shop' %}" class="btn btn-lg btn-golden">Continue Shopping</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
           
           
        </div>
    </section>
    <!-- Shop Cart Section End -->
<style>
    
.empty-wishlist {
    border: 2px solid #b6a8a8;
    border-radius: 10px;
    padding: 40px; /* Increase the padding */
    margin-top: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-wishlist p {
    font-size: 24px; /* Increase the font size */
    color: #666;
    text-align: center;
}

</style>








    
    
    
    
    
    
    <script>
    
    function updateCart(cartItemId, newQuantity) {
        if (newQuantity == 0) {
          deleteCartItem(cartItemId);
          return;
      }
  
  
      fetch(`/update_cart/${cartItemId}/${newQuantity}/`)
          .then(response => response.json())
          .then(data => {
              if (data.success) {
                  // Update the subtotal in your HTML
                  const subtotalElement = document.getElementById(`subtotal-${cartItemId}`);
                  subtotalElement.innerText = `$${data.subtotal}`;
                  console.log('Updating +++++++++++++++++++++++');
                  
  
                  // Call the endpoint to update the cart total
                  updateOrderSummary();
              } else {
                  console.error(data.message);
                  // Handle the error, e.g., display an alert to the user
                  alert(`Error: `);
              }
          })
          .catch(error => {
              console.error('Fetch error:', error);
              // Handle the fetch error, e.g., display an alert to the user
          });
  }



  

function deleteCartItem(cartItemId) {
    fetch(`/delete_cart_item/${cartItemId}/`)
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Remove the deleted item from the HTML
                window.location.reload();
    
                // Check if the cart is empty
                const cartTable = document.getElementById('cart-table');
                if (cartTable && !cartTable.querySelector('tbody tr')) {
                    // Cart is empty, redirect to the cart page
                    window.location.reload();
                }
            } else {
                console.error(data.message);
                
            }
        })
        .catch(error => {
            console.error('Error:', error);
            
        });

    // Prevent the default action (page reload) of the link click
    // event.preventDefault();
}




</script>  
{% endblock content %}
