{% extends 'user_templates/base.html' %}

{% load static %}

{% block content %}
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>Shopping cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- Shop Cart Section Begin -->
    <section class="shop-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop__cart__table" id="cart-table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody >
                                {% for i in cart_items %}
                                
                                <tr>
                                    <td class="cart-item-${{i.id}}" >
                                        <img src={{i.product.thumbnail_image.url}} style="width: 150px;" alt="">
                                        <div class="cart__product__item__title">
                                            <h6>{{i.product.get_product_name}}{{i.product.variant_name}}</h6>
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">₹{{i.product.apply_offer_discount}}</td>
                                    <td class="cart__quantity">
                                        <div id='myform' method='POST' class='quantity d-flex' action='#'>
                                            <input type='button' value='-' class='qtyminus minus' field='quantity' onclick="updateQuantity('{{ i.id }}', -1)"  />
                                            <input type='text' name='quantity' value="{{ i.quantity }}" class='qty' id="quantityInput{{ i.id }}" max='{{i.product.stock}}'/>
                                            <input type='button' value='+' class='qtyplus plus' field='quantity' onclick="updateQuantity('{{ i.id }}', 1)"  />
                                        </div>
                                    </td>
                                    <td class="cart__total"  id="subtotal-{{ i.id }}">₹{{i.sub_total}}</td>
                                    <td class="cart__close"><a  onclick="deleteCartItem('{{ i.id }}')"><span class="icon_close"></span></a></td>
                                </tr>       
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>                      
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn">
                        <a href="{% url 'shop' %}">Continue Shopping</a>
                    </div>
                </div>
               
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="discount__content">
                     
                        {% if coupon_detail is not None %}
                          <h6>  {{coupon_detail.coupon_code}}  is applied {{coupon_detail.minimum_amount}} </h6><br>
                          <h>{{coupon_detail.discount}}rs off on this order</h>
                          <br>  {{coupon_detail.code}}
                        coupon applied
                        <td class="cart__close"><a  onclick="deleteCoupon('{{cart}}')"><span class="icon_close"></span></a></td>
                        <div id="minimumAmount" data-minimum-amount="{{ coupon_detail.minimum_amount }}" style="display: none;"></div>
                        {% else %}
                            <div action="#" class="d-flex align-items-center gap-2" >
                                    <input class="w-75 rounded-5" type="text" placeholder="Enter your coupon code" id="coupon">
                                <button  onclick="applyCoupon()" class="site-btn" style="height: 50px;">Applycoupon</button>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-2">
                    <div class="cart__total__procced">
                        <h6>Cart total</h6>
                        <ul>
                            <li>Subtotal <span id="total" style="font-size: large;">₹0.00</span></li>
                            <li>Quantity <span id="quantity">Subtotal (0 items)</span></li>
                            <li style="display: none;">Shipping <span id="shipping" style="font-size: large;">₹0.00</span></li>
                            <li>Discount <span id="Discount" style="font-size: large;">₹0.00</span></li>
                            <li style="display: none;">Tax <span id="tax" style="font-size: large;">₹0.00</span></li>
                            <li>Grand Total <span id="grandtotal" style="font-size: large;">₹0.00</span></li>
                        </ul>
                        {% if limit == 0 %}
                        <a href="{% url 'order-review' %}" class="primary-btn">Proceed to checkout</a>
                        {% else %}
                        <a href="#" class="primary-btn" id="checkoutBtn">Proceed to checkout</a>
                        {% endif %}
                    </div>
                </div>
                
        </div>
    </section>
    <!-- Shop Cart Section End -->


    <script>
        document.getElementById("checkoutBtn").addEventListener("click", function(event) {
            event.preventDefault(); // Prevent the default behavior of following the link
            alert('Reduce the stock to checkout', "error");
            // Reload the current page
            window.location.reload();
        });
    </script>


<script>
  async function updateOrderSummary() {
    try {
        // Fetch order summary data from the server
        const response = await fetch('/order-summary/');
        
        // Check if the response is not successful (status code other than 200)
        if (!response.ok) {
            throw new Error(`Error fetching order summary: ${response.status} ${response.statusText}`);
        }
        
        // Parse the JSON response
        const data = await response.json();
       

        // Update DOM elements with the new data
        document.getElementById('total').innerText = formatCurrency(data.total);
        document.getElementById('quantity').innerText = `(${data.quantity} items)`;
        document.getElementById('shipping').innerText = formatCurrency(data.shipping);
        document.getElementById('Discount').innerText = formatCurrency(data.Discount);
        document.getElementById('tax').innerText = formatCurrency(data.tax);
        document.getElementById('grandtotal').innerText = formatCurrency(data.grandtotal);
        const cartId = data.cart_id;
        const minimumAmountElement = document.getElementById('minimumAmount');
        const DEFAULT_MINIMUM_AMOUNT = 0;
        const minimumAmount = minimumAmountElement ? parseInt(minimumAmountElement.getAttribute('data-minimum-amount')) || DEFAULT_MINIMUM_AMOUNT : DEFAULT_MINIMUM_AMOUNT;
        if (parseInt(minimumAmount) >= data.total) {
           
            deleteCoupon(cartId);
            window.location.reload();
        }
    } catch (error) {
        alert('fail')
        console.error('Error fetching or updating order summary:', error);
    }
}

function formatCurrency(amount) {
    // Parse the amount as a float number
    const parsedAmount = parseFloat(amount);

    // Check if parsedAmount is a valid number
    if (isNaN(parsedAmount)) {
        console.error('Invalid amount:', amount);
        return ''; // Return empty string or any default value
    }

    // Use toFixed method on the parsedAmount
    return `₹${parsedAmount.toFixed(2)}`;
}


// Call the function to update order summary on page load
updateOrderSummary();

    function updateQuantity(cartItemId, change) {
        const quantityInput = document.getElementById(`quantityInput${cartItemId}`);
        let newQuantity = parseInt(quantityInput.value) + change;

        // Ensure the new quantity stays within the stock limit
        const maxStock = parseInt(quantityInput.getAttribute('max'));
        if (newQuantity < 0) {
            newQuantity = 1; // Prevent decreasing quantity below 1
        } else if (newQuantity > maxStock) {
            newQuantity = maxStock; // Prevent increasing quantity above maximum stock
        }
        // Update the quantity input field value
        quantityInput.value = newQuantity;
        
       
        
    
        // Call the updateCart function with the new quantity
        updateCart(cartItemId, newQuantity);
    }
    
    function updateCart(cartItemId, newQuantity) {
        if (newQuantity == 0) {
                (cartItemId);
            return;
        }
   
        fetch(`/update_cart/${cartItemId}/${newQuantity}/`)
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Update the subtotal in your HTML
                    const subtotalElement = document.getElementById(`subtotal-${cartItemId}`);
                    subtotalElement.innerText = `₹${data.subtotal}`;
                    // Call the endpoint to update the order summary
                    updateOrderSummary();
                } else {
                    console.error(data.message);
                    // Handle the error, e.g., display an alert to the user
                    alert(`Error: ${data.message}`);
                }
            })
            .catch(error => {
                console.error('Fetch error:', error);
                // Handle the fetch error, e.g., display an alert to the user
                alert('Error fetching data. Please try again later.');
            });
    }
    
    function deleteCartItem(cartItemId) {
        fetch(`/delete_cart_item/${cartItemId}/`)
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Remove the deleted item from the HTML
                    window.location.reload();
                    // Check if the cart is empty
                    const cartTable = document.getElementById('cart-table');
                    if (cartTable && !cartTable.querySelector('tbody tr')) {
                        // Cart is empty, redirect to the cart page
                        window.location.reload();
                    }
                } else {
                    console.error(data.message);
                    // Handle the error, e.g., display an alert to the user
                    alert(`Error: ${data.message}`);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                // Handle the fetch error, e.g., display an alert to the user
                alert('Error deleting item. Please try again later.');
            });
    }
    
    function deleteCoupon(cartItemId) {
        fetch(`/delete_applied_coupon/${cartItemId}/`)
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                // Reload the page
                window.location.reload();
                } else {
                    console.error(data.message);
                    // Handle the error, e.g., display an alert to the user
                    alert(`Error: ${data.message}`);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                // Handle the fetch error, e.g., display an alert to the user
                alert('Error deleting item. Please try again later.');
            });
    }
    
    // Call the function to update order summary on page load
    updateOrderSummary();


    function getCookie(name) {
    // Function to retrieve a cookie value by name
    var value = "; " + document.cookie;
    var parts = value.split("; " + name + "=");
    if (parts.length == 2) return parts.pop().split(";").shift();
}



    function applyCoupon() {
        var couponCode = document.getElementById('coupon').value;
        var csrftoken = getCookie('csrftoken'); 

        fetch('{% url "apply_coupon" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({ coupon: couponCode})
        })
        .then(response => {
             console.log(response,'reeeeeeeeeeeeeeeee');
            if (response.ok) {
                response.json().then(data => {
                console.log(data);  
                if (data.success === "Coupon Applied") {
                    window.location.reload();
                    updateOrderSummary();
                    alert(cc);
                    document.querySelector('.success-message').textContent = data.success;
                    document.querySelector('.error-message').textContent = ''; 
                } else {
                    window.location.reload();
                    updateOrderSummary();

                    console.error("Coupon application failed:", data.message);
                    document.querySelector('.error-message').textContent = data.error;
                    document.querySelector('.success-message').textContent = '';
                }
            });
            } else {
                console.error("Failed to apply coupon. Server returned status:", response.status);
            }
        })
        .catch(error => {
            console.error("Network error:", error);
        });
    }

</script>

<style>
    /* Style for the quantity input container */
.quantity {
  display: flex;
  align-items: center;
}

/* Style for the minus button */
.qtyminus, .qtyplus {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

/* Style for the text input */
.qty {
  width: 50px;
  height: 30px;
  text-align: center;
  border: 1px solid #ccc;
  margin: 0 5px;
}

/* Style for the plus button */
.qtyplus {
  border-left: none;
}

</style>
{% endblock content %}
