{% extends 'user_templates/base.html' %}

{% load static %}

{% block content %}
<section>


    <!-- Bootstrap core CSS     -->
    <link href="{% static 'user_static/assets/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{% static 'user_static/assets/css/animate.min.css' %}" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="{% static 'user_static/assets/css/paper-dashboard.css' %}" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static 'user_static/assets/css/demo.css' %}" rel="stylesheet" />

    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="{% static 'user_static/assets/css/themify-icons.css' %}" rel="stylesheet">

    
<div class="container-fluid">
    <div class="row">
        <div class="col-md-11 " style="margin-top: 50px;margin-left: 60px; ">
            <div class="nav column  gap-4 p-3 small bg-danger rounded-5 shadow-sm"  role="tablist">
                
                <li class="d-flex nav-item justify-content-center" role="presentation">
                    <button class="nav-link active rounded-5 justify-content-center" id="home-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="true">profile</button>
                </li>
                <li class="d-flex nav-item justify-content-center" role="presentation">
                   <a href="{% url 'address-detail' %}"> <button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Address</button> </a>
                </li>
               
                <li class="d-flex nav-item justify-content-center" role="presentation">
                    <button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Orders</button>
                </li>
              
        
            </div>
        </div>
      
    <div class="col-md-10" style="margin-top: 50px;margin-left: 60px; ">
        
       

        <div class="content mt-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-5">
                        <div class="card card-user">
                            <div class="image">
                                <img src="{% static 'user_static/assets/img/background.jpg' %}" alt="..."/>
                            </div>
                            <div class="content">
                                <div class="author">
                                  <img class="avatar border-white" src="{% static 'user_static/assets/img/faces/face-2.jpg' %}" alt="..."/>
                                  <h4 class="title">Chet Faker<br />
                                     <a href="#"><small>@chetfaker</small></a>
                                  </h4>
                                </div>
                                <p class="description text-center">
                                    "I like the way you work it <br>
                                    No diggity <br>
                                    I wanna bag it up"
                                </p>
                            </div>
                            <hr>
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-md-3 col-md-offset-1">
                                        <h5>12<br /><small>Files</small></h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5>2GB<br /><small>Used</small></h5>
                                    </div>
                                    <div class="col-md-3">
                                        <h5>24,6$<br /><small>Spent</small></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                   {% block dashcontent %}


                   {% endblock dashcontent %}


                </div>
            </div>
        </div>

      </div>
    </div>
  </div>
</section>
  
  
  <style>
    .custom-btn {
  background-color: #ee7c7c; /* Change background color */
  color: #fff; /* Change text color */
  border-radius: 5px; /* Add rounded corners */
  padding: 10px 20px; /* Add padding */
  border: none; /* Remove border */
  cursor: pointer; /* Add pointer cursor on hover */
  transition: background-color 0.3s ease; /* Add smooth transition for background color */
}

.custom-btn:hover {
  background-color: #ca1515; /* Change background color on hover */
}

    /* Override Bootstrap classes */
    .bg-danger {
      background-color: #ca1515 !important; /* Change background color to grey */
    }
  
    .nav-link {
      color: rgb(24, 24, 43) !important; /* Change text color to blue */
    }
  
    .nav-link.active {
      background-color: #ca1515 !important; /* Change background color of active link to grey */
      color: rgb(255, 255, 255) !important; /* Change text color of active link to blue */
    }
  </style>
   
{% endblock content %}