{% extends 'user_templates/base.html' %}

{% block content %}
{% load static %}

<!-- Bootstrap core CSS -->
<link href="{% static 'user_static/assets/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Paper Dashboard core CSS -->
<link href="{% static 'user_static/assets/css/paper-dashboard.css' %}" rel="stylesheet"/>

<!-- CSS for Demo Purpose, don't include it in your project -->
<link href="{% static 'user_static/assets/css/demo.css' %}" rel="stylesheet" />

<!-- Fonts and icons -->
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
<link href="{% static 'user_static/assets/css/themify-icons.css' %}" rel="stylesheet">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-11 mx-auto mt-5">
            <div class="nav column gap-4 p-3 small bg-danger rounded-5 shadow-sm" role="tablist">
                <li class="nav-item">
                    <a class="nav-link rounded-5" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded-5" href="{% url 'address-detail' %}">Address</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded-5" href="{% url 'order' %}">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active rounded-5" href="{% url 'wallet' %}">Wallet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded-5" href="{% url 'coupon-detail' %}">Coupon</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded-5" href="{% url 'referral-detail' %}">Referral</a>
                </li>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 mx-auto mt-5">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card card-user">
                                <div class="image">
                                    <img src="{% static 'user_static/assets/img/background.jpg' %}" alt="Background"/>
                                </div>
                                <div class="content">
                                    <div class="author">
                                        <img class="avatar border-white" src="{% static 'user_static/img/user-profile.jpg' %}" alt="User Profile"/>
                                        <h4 class="title">{{ user_detail.first_name }} {{ user_detail.last_name }}<br />
                                            <small>@{{ user_detail.username }}</small>
                                        </h4>
                                    </div>
                                    <p class="description text-center">
                                        {{ user_detail.email }} <br>
                                        {{ user_detail.phone_number }} <br>
                                    </p>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h5>{{ order_dtails.count }}<br /><small>Orders</small></h5>
                                        </div>
                                        <div class="col-md-4">
                                            <h5>2GB<br /><small>Wallet</small></h5>
                                        </div>
                                        <div class="col-md-4">
                                            <h5>24,6$<br /><small>Spent</small></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-7">
                            <div class="table_page table-responsive">
                                <div class="container d-flex justify-content-between align-items-center" style="border: 2px solid #b6a8a8; border-radius: 10px; padding: 10px; height: 100px; background-color: #f9f9f9; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                                    <div class="d-flex align-items-center gap-4">
                                        <p style="font-size: 16px; color: #333; margin: 0;">Invited:</p>
                                        <p style="font-size: 20px; font-weight: bold; color: #666; margin: 0;">{{ referral.count }}</p>
                                    </div>
                                    {% if referal_offer_active %}
                                        {% if referral.is_active %}
                                        <div class="d-flex align-items-center gap-4">
                                            <h2 style="font-size: 24px; color: #333; margin: 0;">{{ referral.code }}</h2>
                                        </div>
                                        {% else %}
                                        <div class="d-flex align-items-center gap-4">
                                            <p>Max limit exceed</p>
                                        </div>
                                        {% endif %}
                                    {% else %}
                                    <div class="d-flex align-items-center gap-4">
                                        <p>Not Available</p>
                                    </div>
                                    {% endif %}
    
                                </div>
                                
                                <div style="border: 2px solid #b6a8a8; border-radius: 10px; padding: 20px; margin-top: 20px; background-color: #f9f9f9; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                                    <p style="font-size: 18px; font-weight: bold; color: #333;">Refer a Friend and Earn Rewards!</p>
                                    <p style="font-size: 16px; color: #666;">We're excited to introduce our referral program, where you can earn rewards for inviting your friends to join our community. Here's how it works:</p>
                                
                                    <ol style="list-style-type: decimal; margin-left: 20px;">
                                        <li><strong>Share Your Referral Code:</strong> Your unique referral code is <span style="font-family: monospace; background-color: #e3e3e3; padding: 2px 5px; border-radius: 5px;">{{ referral.code }}</span>. Share this code with your friends, family, and followers.</li>
                                        <li><strong>Invite Your Friends:</strong> Encourage your friends to sign up on our platform using your referral code. They can enter your code during the registration process.</li>
                                        <li><strong>Earn Rewards:</strong> For every friend who signs up using your referral code, you'll receive <span style="font-family: monospace; background-color: #e3e3e3; padding: 2px 5px; border-radius: 5px;">{{ referral_offer.Amount }}</span> in your wallet. Plus, you can invite up to <span style="font-family: monospace; background-color: #e3e3e3; padding: 2px 5px; border-radius: 5px;">{{ referral_offer.limit }}</span> friends, so the rewards can really add up!</li>
                                    </ol>
                                
                                    <p style="font-size: 16px; color: #666;">Start referring your friends today and start earning rewards!</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

