{% extends 'user_templates/base.html' %}



{% block content %}
{% load static %}

    <!-- Bootstrap core CSS     -->

  

    <!--  Paper Dashboard core CSS    -->
    <link href="{% static 'user_static/assets/css/paper-dashboard.css' %}" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static 'user_static/assets/css/demo.css' %}" rel="stylesheet" />

    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="{% static 'user_static/assets/css/themify-icons.css' %}" rel="stylesheet">

    
<div class="container-fluid">
    <div class="row">
        <div class="col-md-11 " style="margin-top: 50px;margin-left: 60px; ">
            <div class="nav column  gap-4 p-3 small bg-danger rounded-5 shadow-sm"  role="tablist">
                
               
                <li class="d-flex nav-item justify-content-center" role="presentation">
                   <a href="{% url 'profile' %}"> <button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">profile</button> </a>
                </li>
                <li class="d-flex nav-item justify-content-center" role="presentation">
                   <a href="{% url 'address-detail' %}"> <button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Address</button> </a>
                </li>
               
                <li class="d-flex nav-item justify-content-center" role="presentation">
                    <a href="{% url 'order' %}">  <button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Orders</button> </a>
                </li>
                <li class="d-flex nav-item justify-content-center" role="presentation">
                    <a href="{% url 'wallet' %}"> <button class="nav-link active rounded-5 justify-content-center"  data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Wallet</button></a>
                </li>
              
                <li class="d-flex nav-item justify-content-center" role="presentation">
                    <a href="{% url 'coupon-detail' %}">  <button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="true">Coupon</button> </a>
                </li>
                <li class="d-flex nav-item justify-content-center" role="presentation">
                    <a href="{% url 'referral-detail' %}">  <button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Referral</button> </a>
                </li>
            </div>
        </div>
      
    <div class="col-md-10" style="margin-top: 50px;margin-left: 60px; ">
        
       

        <div class="content mt-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-5">
                     
                        <div class="card card-user">
                            <div class="image">
                                <img src="{% static 'user_static/assets/img/background.jpg' %}" alt="..."/>
                            </div>
                         
                            <div class="content">
                                <div class="author">
                                  <img class="avatar border-white" src="{% static 'user_static/img/user-profile.jpg' %}" alt="..."/>
                              
                                  <h4 class="title">{{user_detail.first_name}}{{user_detail.last_name}}<br />
                                     <a href="#"><small>@{{user_detail.username}}</small></a>
                                  </h4>
                                </div>
                                <p class="description text-center">
                                    {{user_detail.email}} <br>
                                    {{user_detail.phone_number}} <br>
                       
                                </p>
                            </div>
                            <hr>
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-md-3 col-md-offset-1">
                                        <h5>{{order_dtails.count}}<br /><small>Orders</small></h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5>2GB<br /><small>Wallet</small></h5>
                                    </div>
                                    <div class="col-md-3">
                                        <h5>24,6$<br /><small>Spent</small></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                       
                    </div>
                    <div class="col-lg-8 col-md-7">
                        <div class="table_page table-responsive">
                            <div class="container d-flex justify-content-between align-items-center" style="border: #b6a8a8 2px solid; height: 50px;">
                               <div class="d-flex align-items-center gap-4">
                                <i class="fa-solid fa-wallet" style="font-size: 40px;"></i>
                                {{wallet.balance}}
                               </div>
                                <button id="addMoneyBtn" class="btn btn-block btn-golden " style="width: 250px;">Add Money to
                                    Wallet</button>
                            </div>
                            <table>

                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Amount</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in transactions %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        {% if i.transaction_type == 'CREDIT' %}
                                        <td style="color: darkgreen;">+{{i.amount}}</td>
                                        {% else %}
                                        <td style="color: #ca1515;">-{{i.amount}}</td>
                                        {% endif %}
                                        <td >{{i.created_at}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      </div>
    </div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    document.getElementById('addMoneyBtn').addEventListener('click', () => {
        Swal.fire({
            title: "Enter the amount",
            input: "text",
            inputAttributes: {
                autocapitalize: "off",

            },
            showCancelButton: true,
            confirmButtonText: "Submit",
            showLoaderOnConfirm: true,
            preConfirm: async (amount) => {
                try {
                    // Perform fetch request with the entered amount
                    const response = await fetch('{% url "wallet" %}', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': getCookie('csrftoken'),
                        },
                        body: JSON.stringify({
                            amount: parseFloat(amount) // Convert amount to float
                        })
                    });
                    if (!response.ok) {
                        return Swal.showValidationMessage(`
                        ${JSON.stringify(await response.json())}
                    `);
                    }

                    const data = await response.json();

                    // Extract payment information from the response
                    const paymentOrderId = data.payment_order_id;
                    const paymentAmount = data.amount;
                    const RAZOR_PAY_KEY_ID = data.RAZOR_PAY_KEY_ID

                    console.log('Payment information:', paymentOrderId, paymentAmount, RAZOR_PAY_KEY_ID);

                    // Use the extracted payment information as needed in your frontend code

                    return {
                        payment_order_id: paymentOrderId,
                        amount: paymentAmount,
                        RAZOR_PAY_KEY_ID: RAZOR_PAY_KEY_ID

                    };

                } catch (error) {
                    console.log('Request failed:', error);
                    throw new Error(error);
                }
            },
            allowOutsideClick: () => !Swal.isLoading()
        }).then((result) => {
            const paymentOrderId = result.value.payment_order_id;
            const paymentAmount = result.value.amount;
            const razorpayKeyId = result.value.RAZOR_PAY_KEY_ID;
            const userId = '{{user.id}}'
            console.log(userId);
            console.log(paymentOrderId, paymentAmount, razorpayKeyId, 'got it');
            var options = {
                "key": razorpayKeyId,
                "amount": paymentAmount,
                "currency": "INR",
                "name": "Home Decor",
                "description": "Test Transaction",
                "order_id": paymentOrderId,
                "callback_url": `http://127.0.0.1:8000/paymenthandler2/?amount=${paymentAmount}&user_id=${userId}`,
                "prefill": {
                    "name": "{{ request.user.get_username }}",
                    "email": "{{ request.user.email }}",
                    "contact": "{{ request.user.phone_number }}"
                },
                "theme": {
                    "color": "#b19361"
                }
            };

            var rzp1 = new Razorpay(options);
            rzp1.on('payment.failed', function (response) {
                alert(response.error.code);
                // alert(response.error.description);
                // alert(response.error.source);
                // alert(response.error.step);
                // alert(response.error.reason);
                // alert(response.error.metadata.order_id);
                // alert(response.error.metadata.payment_id);
            });
            rzp1.open();
            e.preventDefault();


        });
    });

</script>

<script>
function cancelOrderConfirmation(orderId) {
    Swal.fire({
        title: 'Are you sure?',
        text: 'Do you want to cancel the order?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, cancel it!',
        cancelButtonText: 'No',
    }).then((result) => {
        if (result.isConfirmed) {
            var data = {
                        order_id: orderId,
                        new_status: "Cancelled User"
                    };
            fetch('{% url "update_orderitem_status" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken') // Include CSRF token
            },
            body: JSON.stringify(data), // Send selected option ID as JSON data
        })
        .then(response => response.json())
        .then ( data =>{
            console.log('POST request successful');
            window.location.reload()              
        })
        .catch(error => {
            // Handle error here if needed
            console.error('Error:', error);
        });
    
        }
    });
}

function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Extract CSRF token
                if (cookie.startsWith(name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
  
<style>

    .custom-btn {
  background-color: #ee7c7c; /* Change background color */
  color: #fff; /* Change text color */
  border-radius: 5px; /* Add rounded corners */
  padding: 10px 20px; /* Add padding */
  border: none; /* Remove border */
  cursor: pointer; /* Add pointer cursor on hover */
  transition: background-color 0.3s ease; /* Add smooth transition for background color */
}

.custom-btn:hover {
  background-color: #ca1515; /* Change background color on hover */
}

    /* Override Bootstrap classes */
    .bg-danger {
      background-color: #ca1515 !important; /* Change background color to grey */
    }
  
    .nav-link {
      color: rgb(24, 24, 43) !important; /* Change text color to blue */
    }
  
    .nav-link.active {
      background-color: #ca1515 !important; /* Change background color of active link to grey */
      color: rgb(255, 255, 255) !important; /* Change text color of active link to blue */
    }
  </style>
  <style>
   .table_page {
    width: 100%;
}

.table-responsive {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
}

td img {
    width: 60px;
    margin-right: 10px;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.view {
    text-decoration: none;
    color: blue;
}

.return-order {
    color: red;
}

/* Optional: Hover effect for rows */
tr:hover {
    background-color: #f5f5f5;
}

</style>
    

{% endblock content %}



